<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>Buscar Vagas</title>
    <meta charset="utf-8">
    <link href="STYLE/Form_busca.css" rel="stylesheet">
  </head>
  <body>
 
      
      
      
     <div id='cssmenu'>
<ul>
    <li class='active'> <a href='index.html'>PRINCIPAL</a></li>


</ul>
</div> 
      
      
      
     
  <div class="container">    
     
      <form action="../CONTROL/obter_pesquisavaga_main.php" method="post">

 
          <input placeholder="Buscar vagas" type="text"  name="busca">
          
    <button type="submit">Pesquisar</button>
  </div>
</form>  


  
  
  <div id="footer">

<center>
<h3>ALPHA JOBS TECNOLOGIA EM EMPREGOS - AV. PRAIA DE BELAS,  425 CEP: 94485-325 PORTO ALEGRE/RS © Copyright 2017</h3>
</center>
</div>

  
  </body>
</html>