<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<title>Vagas</title>
<link href="STYLE/formularios.css" rel="stylesheet">
    
</head>

	<body>

            <meta charset="utf-8"/>
            
            

	<div id='cssmenu'>
<ul>
    <li class='active'><a href='Main_empregador.html'>PRINCIPAL</a></li>
   
</ul>
</div>

<center>

    <form action="../CONTROL/Obter_Vaga.php" method="post">
   <br/>  <br/>  <br/>  <br/>  
			<fieldset>
				<legend>Informe os dados da vaga </legend>
				<table cellspacing="10">
				<tr>
				<td width="121">
				
				
				
				
   
                                    <tr>
   
				<td>
				<label> Cargo </label>
				</td>
				<td>
				<input  size="50" type="text" name="cargo">
				</td>
				</tr>
				
				
				
				<tr>
				<td>
				<label>Atividades: </label>
				</td>
				<td align="left">
				<input type="text" name="atividade"/> 
				</td>
				</tr>
				
				
				<tr>
				<td>
				<label>Remuneração: </label>
				</td>
				<td align="left">
				<input type="text" name="remuneracao"  > 
				</td>
				</tr>
   
   	
				<tr>
				<td>
				<label>Beneficios: </label>
				</td>
				<td align="left">
				<input type="text" name="beneficio"> 
				</td>
				</tr>
				
				
				
				
				<tr>
				<td>
				<label>Horario: </label>
				</td>
				<td align="left">
				<input type="text" name="horario"> 
				</td>
				</tr>
                                    
                                    
                                    
                                 <tr>
				<td>
				<label>Carga Horária: </label>
				</td>
				<td align="left">
				<input type="text" name="cargahoraria"  > 
				</td>
				</tr>
                                    
                                <tr>
				<td>
				<label>Número de vagas: </label>
				</td>
				<td align="left">
				<input type="text" name="nvagas"  > 
				</td>
				</tr>    
   
   
   
   
   
  				
 </table>
</fieldset>
 
   
   

<input type="submit" value="Cadastrar">
<input type="reset" value="Limpar">
</form>

   
   
   </center>
   
   
				





        <br/>  <br/>  <br/>  <br/>  <br/>  <br/>  <br/>  <br/>  <br/>  <br/>  <br/>  <br/> 
         <br/>  <br/>  <br/>  <br/>  <br/>   <br/>  <br/> 
<!--RODAPÉ DO SITE-->
<div id="footer">
<center>
<h3>ALPHA JOBS TECNOLOGIA EM EMPREGOS - AV. PRAIA DE BELAS,  425 CEP: 94485-325 PORTO ALEGRE/RS © Copyright 2017</h3>
</center>
</div>
 
 
 

</body>
 
 
</html>









