<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>Buscar Vagas</title>
    <meta charset="utf-8">
    <link href="STYLE/Form_busca.css" rel="stylesheet">
  </head>
  <body>
 
     
 <form action="#" method="post">
  <label for="busca">Buscar</label>
  
  <div class="container">  
    <input type="search" id="busca" name="q">
    <button type="submit">OK</button>
  </div>
</form>  


  
  
  <div id="footer">

<center>
<h3>TI JOBS TECNOLOGIA EM EMPREGOS - AV. PRAIA DE BELAS,  425 CEP: 94485-325 PORTO ALEGRE/RS © Copyright 2017</h3>
</center>
</div>

  
  </body>
</html>