<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by TEMPLATED
http://templated.co
Released for free under the Creative Commons Attribution License

Name       : StoneWork 
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20140228

-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="http://fonts.googleapis.com/css?family=Didact+Gothic" rel="stylesheet" />
<link href="STYLE/default.css" rel="stylesheet" type="text/css" media="all" />
<link href="STYLE/fonts.css" rel="stylesheet" type="text/css" media="all" />

<!--[if IE 6]><link href="default_ie6.css" rel="stylesheet" type="text/css" /><![endif]-->

</head>
<body>
<div id="header-wrapper">
	<div id="header" class="container">
		<div id="logo">
			<h1><a href="#">Alpha Jobs</a></h1>
		</div>
		<div id="menu">
			<ul>
				<li class="active"><a href="#" accesskey="1" title="">Homepage</a></li>
                                <li><a href="Main_empregador.html" accesskey="2" title="">Sou empresa</a></li>
                                <li><a href="Main_candidato.html" accesskey="3" title="">Sou candidato</a></li>
				<li><a href="#" accesskey="4" title="">A empresa</a></li>
				<li><a href="#" accesskey="5" title="">Contato</a></li>
			</ul>
		</div>
	</div>
	<div id="banner" class="container">
		<div class="title">
			<h2>Encaminhando líderes ao mercado de trabalho</h2>
			
		</div>
		<ul class="actions">
                    <li><a href="BuscarVagas.html" class="button">Procurar vagas</a></li>
		</ul>
	</div>
</div>
<div id="wrapper">
	<div id="three-column" class="container">
		<div class="title">
			<h2>Conheça alguma de nossas parceiras</h2>
			
		</div>
		<div class="boxA">
			
			
                        <img src="IMAGENS/ibm-512.png" width="256" height="256" />
			<a href="https://www.ibm.com/br-pt/" class="button button-alt">Mais informações</a>
		</div>
		<div class="boxB">
			
                    <img src="IMAGENS/Microsoft-Logo-PNG-Picture-420x155.png" width="300" height="256" />
			<a href="https://www.microsoft.com/pt-br" class="button button-alt">Mais informações</a>
		</div>
		<div class="boxC">
			
                    <img src="IMAGENS/Safeweb2.png" width="400" height="256" />
			<a href="https://safeweb.com.br/" class="button button-alt">Mias informações</a>
		</div>
	</div>
</div>
<div id="welcome">
	<div class="container">
		<div class="title">
		
		<p>ALPHA JOBS TECNOLOGIA EM EMPREGOS - AV. PRAIA DE BELAS,  425 CEP: 94485-325 PORTO ALEGRE/RS © Copyright 2017</p>
		
	</div>
</div>
<div id="copyright" class="container">
	<p>&copy; Untitled. All rights reserved. | Photos by <a href="http://fotogrph.com/">Fotogrph</a> | Design by <a href="http://templated.co" rel="nofollow">TEMPLATED</a>.</p>
</div>
</body>
</html>
