<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>ALPHA JOBS</title>
<link href="STYLE/styleempregador.css" rel="stylesheet" type="text/css">


</head>



<!-- MENU  -->
<body>

<div id='cssmenu'>
<ul>

   <li ><a href='Empresa_form.html'>CADASTRO</a></li>
   <li ><a href='Vaga_form.html'>ANUNCIAR</a></li>
   <li><a href='#'>VISUALIZAR</a></li>
   <li><a href='#'>INSTITUCIONAL</a></li>


</ul>
</div>






<!-- RODAPÉ -->

<div id="footer">

<center>
<h3>ALPHA JOBS TECNOLOGIA EM EMPREGOS - AV. PRAIA DE BELAS,  425 CEP: 94485-325 PORTO ALEGRE/RS © Copyright 2017</h3>
</center>
</div>










 
</body>
</html>
