<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>TI JOBS</title>
<link href="STYLE/stylecandidato.css" rel="stylesheet" type="text/css">


</head>



<!-- MENU  -->
<body>

<div id='cssmenu'>
<ul>
    <li class='active'><a href='Candidato_form.html'>CADASTRO</a></li>
   <li ><a href='#'>VISUALIZAR VAGAS</a></li>
   <li><a href='#'>CURSOS</a></li>
   <li><a href='#'>INSTITUCIONAL</a></li>
   <li><a href="../ARQUIVOS PARA DOWNLOAD/Empresas associadas.pdf" target="iframe_download">PARCEIROS</a></li>

</ul>
</div>




<!-- logo -->

<p align="left">

<img width="244" width="67" src="IMAGENS/5_White_logo_on_black_244x67.png" />
</p>




<!-- RODAPÉ -->

<div id="footer">

<center>
<h3>TI JOBS TECNOLOGIA EM EMPREGOS - AV. PRAIA DE BELAS,  425 CEP: 94485-325 PORTO ALEGRE/RS © Copyright 2017</h3>
</center>
</div>










 
</body>
</html>
