<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<title>CADASTRO DE LOGIN</title>
<link href="STYLE/formularios.css" rel="stylesheet">

</head>

<div id='cssmenu'>
<ul>
   <li class='active'><a href='MAIN.html'>PRINCIPAL</a></li>

</ul>
</div>



<body>
<!-- DADOS DE LOGIN -->

<form action="..CONTROL/registrar.php" method="post">
<fieldset>
<center>
 <legend>Dados de login</legend>
 <table cellspacing="10">
  <tr>
   <td>
    <label for="email">E-mail: </label>
   </td>
   <td align="left">
    <input type="text" name="email">
   </td>
  </tr>
  <tr>
   
  </tr>
  <tr>
   <td>
    <label for="login">Login de usuário: </label>
   </td>
   <td align="left">
    <input type="text" name="login">
   </td>
  </tr>
  <tr>
   <td>
    <label for="pass">Senha: </label>
   </td>
   <td align="left">
    <input type="password" name="pass">
   </td>
  </tr>
  <tr>
   <td>
    <label for="passconfirm">Confirme a senha: </label>
   </td>
   <td align="left">
    <input type="password" name="passconfirm">
   </td>
  </tr>
 </table>
 </center>
</fieldset>
<br />


<center>
<input type="submit" value="Fazer Login">
<input type="reset" value="Limpar">
</center>

</form>




<div id="footer">

<center>
<h3>TI JOBS TECNOLOGIA EM EMPREGOS - AV. PRAIA DE BELAS,  425 CEP: 94485-325 PORTO ALEGRE/RS © Copyright 2017</h3>

</center>


</div>
 


</body>


</html>
